<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>fila de Bootstrap</Title>
    <Author>Sartharian</Author>
    <Shortcut>bs-row</Shortcut>
    <Description>Bootstrap 5 snippet - row</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="html">
      <![CDATA[
	  <div class="row"></div>
	  ]]></Code>
  </Snippet>
</CodeSnippet>
